@font-face {
    font-family: 'Quicksand Book';
    src: url('QuicksandBook-Regular.woff2') format('woff2'),
        url('QuicksandBook-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kalinka College';
    src: url('KalinkaCollege-Regular.woff2') format('woff2'),
        url('KalinkaCollege-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

